@charset "utf-8";

:root {
  --blue: #007bff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#uploadForm {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#selectFile {
  margin-right: 5px;
}

#uploadStatus {
  display: flex;
  align-items: center;
}

#uploadStatus.hidden {
  display: none;
}

#uploadStatus > div:not(:last-child) {
  margin-right: 5px;
}

#uploadFileName, #fileSize {
  font-size: 14px;
}

#progressBar {
  background-color: #eee;
  width: 200px;
  height: 20px;
  overflow: hidden;
}

#progress {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  font-size: 12px;
  color: #fff;
  text-align: center;
  width: 0;
  height: 100%;
}

#image {
  width: 300px;
}
