@charset "utf-8";

:root {
  --blue: #007bff;
  --snackbar-height: 60px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.auth_button {
  background-color: #fff;
  border: 1px solid var(--blue);
  border-radius: 5px;
  color: var(--blue);
  padding: 4px 8px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: none;
}

.auth_button:hover {
  background-color: var(--blue);
  color: #fff;
}

#profileImage {
  width: 32px;
  height: 32px;
  background-size: 32px;
  border-radius: 16px;
}

/*
 * flex-boxを指定していると、hidden属性が効かない
 * そのため、class="hidden"を付けてhidden属性の代わりにする
 * https://stackoverflow.com/questions/23772673/hidden-property-does-not-work-with-flex-box
 */
#loaderArea {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

#loaderArea.hidden {
  display: none;
}

#loaderArea > div {
  text-align: center;
}

/* ぐるぐる https://codelabs.developers.google.com/codelabs/your-first-pwapp-ja/#0 */

.loader #spinner {
  box-sizing: border-box;
  stroke: #fff;
  stroke-width: 3px;
  transform-origin: 50%;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

#loaderMessage {
  color: #fff;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(450deg);
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg);
  }
}

.loginUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}

.loginUser > div:not(:last-child) {
  margin-right: 10px;
}

#uploadForm {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#selectFile {
  margin-right: 5px;
}

#uploadStatus {
  display: flex;
  align-items: center;
}

#uploadStatus.hidden {
  display: none;
}

#uploadStatus > div:not(:last-child) {
  margin-right: 5px;
}

#uploadFileName, #fileSize {
  font-size: 14px;
}

#progressBar {
  background-color: #eee;
  width: 200px;
  height: 20px;
  overflow: hidden;
}

#progress {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  font-size: 12px;
  color: #fff;
  text-align: center;
  width: 0;
  height: 100%;
}

#image {
  width: 300px;
}

#snackbar {
  display: flex;
  align-items: center;
  visibility: hidden;
  background-color: #333;
  color: #fff;
  position: fixed;
  padding: 10px;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: var(--snackbar-height);
}

#snackbar > div {
  align-content: center;
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: calc(-1 * var(--snackbar-height));
  }
  to {
    bottom: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 0;
  }
  to {
    bottom: calc(-1 * var(--snackbar-height));
  }
}
