@charset "utf-8";

:root {
  --blue: #007bff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.inputArea {
  margin: 5px;
}

button {
  background-color: #fff;
  border: 1px solid var(--blue);
  border-radius: 5px;
  color: var(--blue);
  padding: 4px 8px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: none;
}

button:hover {
  background-color: var(--blue);
  color: #fff;
}

.isbn {
  width: 10rem;
}

.name {
  width: 40rem;
}

table {
  border-collapse: collapse;
}

thead th {
  border-bottom: 1px solid #999;
  padding: 5px;
}

tbody tr:hover {
  background-color: #eee;
  transition: background-color .15s ease-in-out;
}

tbody td {
  padding: 5px;
}

table + #noBook {
  display: none;
}
