@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 5px;
}

.name {
  color: #999;
  font-size: 7px;
}

.chat {
  position: relative;
}

.chat:hover {
  background-color: #eee;
}

.message {
  text-indent: 3em;
}

.deleteButton {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.deleteButton:hover {
  background-color: #f00;
  color: #fff;
}

.deleteButton:active {
  background-color: #f99;
  color: #fff;
}

#chatList {
  margin-top: 10px;
}

#chatList > div {
  padding: 5px;
}

#chatList > div:not(:last-child) {
  border-bottom: 1px solid #999;
}

