@charset "utf-8";

:root {
  /* 最小14px */
  --floating-font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.messageArea {
  margin: 5px;
}

.name {
  color: #999;
  font-size: 7px;
}

.message {
  text-indent: 3em;
}

.deleteButton {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
}

.deleteButton:hover {
  background-color: #f00;
  color: #fff;
}

.deleteButton:active {
  background-color: #f99;
  color: #fff;
}

#messageList {
  margin-top: 10px;
}

#messageList > div {
  padding: 5px;
}

#messageList > div:not(:last-child) {
  border-bottom: 1px solid #999;
}

.inputArea {
  margin: 10px 0;
}

/* https://www.pc-weblog.com/floating-label/ */

.floating-box {
  position: relative;
  margin-top: calc(var(--floating-font-size) - 9px);
  margin-bottom: 20px;
  border: 1px solid #666;
  display: inline-block;
}

input {
  padding: calc(var(--floating-font-size) - 5px) 6px 8px;
  font-size: var(--floating-font-size);
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: calc(var(--floating-font-size) - 2px);
  color: #666;
  transform: translate(0, -50%);
}

input:focus + label, input:not(:placeholder-shown) + label {
  top: 0;
  left: 10px;
  font-size: calc(var(--floating-font-size) - 4px);
  transition: 0.5s;
  background: #fff;
  color: #1869fe;
  padding: 0 0.2rem;
}

/* 入力中のみ青色 */
input:not(:placeholder-shown) + label {
  color: #666;
}

input:focus + label {
  color: #1869fe;
  font-weight: bold;
}
