@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 5px;
}

.name {
  color: #999;
  font-size: 7px;
}

.chat {
  position: relative;
}

.chat:hover {
  background-color: #eee;
}

.message {
  text-indent: 3em;
}

#chatList {
  margin-top: 10px;
}

#chatList > div {
  padding: 5px;
}

#chatList > div:not(:last-child) {
  border-bottom: 1px solid #999;
}

